*{
margin:0;
padding:0;
}
.front{
height: 100vh;
background-image: url(./images/hero-bg.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
/*-------------------------------nav bar starts ------------------------------------------------------------*/
.multi-nav{
background:rgba(96,0,128,0.3);
}
.upper{
display: flex;
}
.top-nav{
padding-top:20px;
display: flex;
width:70%;
}
.top-nav li{
padding:40px;
text-decoration: none;
color:white;
list-style: none;
}
.top-nav li i{
color:red;
font-size:20px;
padding-right:7px;
}
.social-media{
display: flex;
padding:40px;
text-decoration: none;
list-style: none;
}
.social-media li{
padding-right: 26px;
}
.social-media li .icon{
border:1px solid red;
padding:14px;
font-size: 20px;
border-radius:5px;
}
.social-media li .login{
padding:14px;
font-size: 20px;
color:red;
font-family: "Rajdhani", sans-serif;
}
.down-nav{
display: flex;
justify-content:flex-end;
padding-top: 0px;
padding-right:80px;
font-family:Rajdhani;
}
.down-nav li {
padding:40px;
text-decoration: none;
color:white;
list-style: none;
font-family: "Rajdhani", sans-serif;
}
.multi-nav li a{
text-decoration: none;
color:white;
font-size:16px;
font-family: "Rajdhani", sans-serif;
}
/*-------------------------------nav bar ends ------------------------------------------------------------*/
.svg-section{
height:300px;
}
.svg-color{
height:250px;
background-color:#682730;
color:white;
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
margin: auto;
padding-left:30%;
}
.about-us{
height:100vh;
}
.about{
padding-top:5%;
}
.about h1{
font-size:50px;
text-align: center;
padding-top:34px;
}
.about p{
text-align:center;
font-size: 20px
}
.upper-about{
margin-top:80px;
display: flex;
font-family: "Rajdhani", sans-serif;
}
.carding{
width:30%;
}
.heading{
display: flex;
flex-direction: row;
}
.heading img{
padding:20px;
/*width:20px;*/
height:100px;
}
.lower-about{
display: flex;
margin-top:80px;
font-family: "Rajdhani", sans-serif;
}
.templates{
height:100vh;
background-color: #f2f2f2;
display: flex;
}
.left-div{
padding-top:60px;
width:90%;

}
.left-div p{
margin-top:50px;
font-family: "Rajdhani", sans-serif;
color:grey;
font-size:17px;
}
.right-div{
padding-top:50px;
width: 90%;
padding-left:200px;
}

.right-div .diya{
	position: relative;
	top:-248px;
	right:100px;
	border:20px solid #f2f2f2; 
}
.points{
	display: flex;
}
.media i {
  font-size: 24px;
  color: #ee1515;
  padding-top:20px;
}
.media h5 {
  text-transform: uppercase;
  color: #26264b;
}
.media-element{
	margin-top:60px;
}
.media-body{
	color:grey;
}